.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.closeBtn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #444;
}

.scrollContainer {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0.5rem;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  touch-action: pan-y;
}

.month {
  margin-bottom: 2rem;
}

.currentMonth{
  background-color: #fbf5ffff;
}

.currentDay{
  background-color: #ffb8f6ff;
}

.monthHeader {
  text-align: center;
  font-weight: 600;
  margin: 0.5rem 0;
}

.weekdays,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day {
  padding: 0.8rem 0;
  border: 1px solid #f0f0f0;
  font-size: 0.9rem;
}

.day.clickable{
  cursor: pointer;
  transition: background 0.2s;
}

.day.clickable:hover {
  background: rgba(255, 100, 100, 0.1);
}

.disabledDay {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
  color: #999;
  background-color: #f5f5f5;
}

.addPeriodButton.active {
  background-color: #ff6b6b;
  color: white;
}

.todayButton {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #ff6b6b;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 18px;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.periodDay {
  background-color: rgba(255, 60, 60, 0.4);
  border-radius: 50%;
  color: white;
  font-weight: bold;
}
